<%- include('header'); -%>
<div id="menu">
    <ul>
        <li class="first active">
            <a href="#">Home</a>
        </li>
        <li>
            <a href="#">About</a>
        </li>
        
        
        <li class="last">
            <a href="#">Contact</a>
        </li>
    </ul><br class="clearfix" />
</div>
</div>