<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
Design by TEMPLATED
http://templated.co
Released for free under the Creative Commons Attribution License

Name       : Anodized
Description: A two-column, fixed-width design with a dark color scheme.
Version    : 1.0
Released   : 20120705
-->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta name="keywords" content="" />
<meta name="description" content="" />
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>
	Anodized by TEMPLATED
</title>
<link href="http://fonts.googleapis.com/css?family=Arvo" rel="stylesheet" type="text/css" />
<link href="http://fonts.googleapis.com/css?family=Bevan" rel="stylesheet" type="text/css" />
<link rel="stylesheet" type="text/css" href="style.css" />
</head>
<body>
<div id="wrapper">
	<div id="header">
		<div id="logo">
			<h1>
				<a href="#">Be Happy...</a>
			</h1>
		</div>
		<div id="search">
			<form action="" method="post">
				<div>
					<input class="text" name="search" size="32" maxlength="64" />
				</div>
			</form>
		</div>
		
	<div id="page">
		<div id="content">
			<div class="box">
				<h2>
					Welcome to Friendship Blog
				</h2>
				<p>
                    This is <strong>Marwadi University</strong>,Friendships of pleasure: exist between you and those whose company you enjoy.
                     Often, these are "activity buddies": people with whom you do things like playing soccer, going for long bike rides or cow-tipping. 
                     You may have this kind of relationship with one of the other locals at your friendly neighbor coffee shop or gym or tattoo parlor--
                      or his flirty manner, for instance. Friendships of utility, on the other hand, exist mainly because the person can help us out in some way.) 
				</p>
			</div>
			<div class="box" id="box-left">
				<h3>
					Freindship is everything
				</h3>
				<p>
					Good friends are like star you dont see always see them.
				</p>
				<ul class="list">
					<li class="first">
						<a href="#">Friendship are like sky without sun</a>
					</li>
					<li>
						<a href="#">Enim sit a nunc</a>
					</li>
					<li>
						<a href="#">Dictum iaculis cubilia erat</a>
					</li>
					<li>
						<a href="#">Nulla semper libero tempus</a>
					</li>
					<li>
						<a href="#">Dictum iaculis cubilia erat</a>
					</li>
					<li>
						<a href="#">Nulla semper libero tempus</a>
					</li>
					<li class="last">
						<a href="#">Tempus curae imperdiet pellentesque</a>
					</li>
				</ul>
			</div>
			<div class="box" id="box-right">
				<h3>
					Freindship Quotes
				</h3>
				<ul class="image-list">
					<li class="first">
						<img class="left" src="images/1.jpg" width="60" height="60" alt="" /><span>Friendship is when people know all about you but stays with you in every situation .</span>
					</li>
					<li>
						<img class="left" src="images/2.jpeg" width="60" height="60" alt="" /><span>Never let your best friend get lonely...keep distributing them.</span>
					</li>
					<li class="last">
						<img class="left" src="images/3.jpeg" width="60" height="60" alt="" /><span>Two friends are like morning,u cant have them the whole day,but u know,they will be there 
                            when you wakeup tomorrow,nextyear and everyday.</span>
					</li>
					<li class="last">
						<img class="left" src="images/4.jpg" width="60" height="60" alt="" /><span>A friend who understand your tears is much more valuable then a lot of friends who only know your smile.</span>
					</li>
				</ul>
			</div><br class="clearfix" />
		</div>
		<div id="sidebar">
			<div class="box">
				<h3>
					Luctus sodales
				</h3>
				<p>
					Parturient elit sociis curae quam vestibulum. Rutrum eleifend semper sapien. Suspendisse rhoncus risus faucibus ultrices eleifend.
				</p>
				<ul class="list">
					<li class="first">
						<a href="#">Nullam luctus ullamcorper</a>
					</li>
					<li>
						<a href="#">Malesuada a amet</a>
					</li>
					<li class="last">
						<a href="#">Accumsan sit porta</a>
					</li>
				</ul>
			</div>
			<div class="box">
				<h3>
					Nullam adipiscing
				</h3>
				<ul class="list">
					<li class="first">
						<a href="#">Scelerisque risus tortor aenean</a>
					</li>
					<li>
						<a href="#">Eleifend parturient eget cubilia</a>
					</li>
					<li>
						<a href="#">Ligula metus viverra parturient</a>
					</li>
					<li>
						<a href="#">Orci massa tempus consequat</a>
					</li>
					<li class="last">
						<a href="#">Urna nec metus</a>
					</li>
				</ul>
			</div>
		</div><br class="clearfix" />
	</div>
	<div id="page-bottom">
		<div id="page-bottom-content">
			<h3>
				Blandit interdum venenatis lectus
			</h3>
			<p>
				Cras libero lacinia phasellus ornare magnis. Dictum quis fusce eu suscipit magna condimentum porta. 
				Cras eget morbi venenatis consectetur odio lobortis. Interdum morbi tellus hendrerit vestibulum montes. 
				Commodo vivamus elit rhoncus nullam pulvinar neque sapien. Ultrices auctor fermentum integer diam 
				vulputate. Faucibus egestas nibh fusce. Proin sed nisi erat pharetra. Eget donec rutrum fermentum 
				ridiculus natoque justo congue ridiculus.
			</p>
		</div>
		<div id="page-bottom-sidebar">
			<h3>
				Ultrices iaculis
			</h3>
			<ul class="list">
				<li class="first">
					<a href="#">Euismod nulla sagittis</a>
				</li>
				<li>
					<a href="#">Urna vestibulum</a>
				</li>
				<li class="last">
					<a href="#">Rhoncus suspendisse</a>
				</li>
			</ul>
		</div><br class="clearfix" />
	</div>
</div>
<div id="footer">
	&copy; SiteName | Photos by <a href="http://fotogrph.com/">Fotogrph</a> | Design by <a href="http://templated.co" rel="nofollow">TEMPLATED</a>
</div>
</body>
</html>